.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px;
    grid-auto-flow: row;
    grid-template-areas:
    "logo logo  navbar navbar navbar navbar  basket basket";
    justify-items: center;
    align-items: center;
    align-self: center;
}


.logo {
    grid-area: logo;
}

.logo img {
    cursor: pointer;
}

.navbar {
    grid-area: navbar;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.navbar-link {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: white;
    font-size: 20px;
}

.navbar-link:hover {
    border-bottom: 1px solid white;
    box-shadow: inset 0px 0px 10px white;
    transform: scale(1.12);
}

.basket {
    grid-area: basket;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    cursor: pointer;
}

.basket span {
    background-color: white;
    margin-left: 1px;
    color: black;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 4px;
}

.totalCount-style {
    margin-top: 10px;
}

@media screen and (max-width: 665px) {
    .navbar-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }

    .navbar-link {
        font-size: 10px;
        padding: 2px;
        color: white;
        text-decoration: green;
    }


}